<a href="https://colab.research.google.com/github/Ravkeerat02/comp3122_labs/blob/master/Assignemnt2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Student Name : Ravkeerat Singh 
Student ID : 101344680

---

In [ ]:
#importing the necessary modules

import pandas as pd
import numpy as np
import random
from sklearn.tree import DecisionTreeClassifier
from sklearn import preprocessing
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [ ]:
tennis = pd.read_csv('/content/PlayTennis.csv')
print('Shape: ',tennis.shape)
tennis.head()

Shape:  (18, 6)

    Outlook Temperature Humidity    Wind Court Availablity Play Tennis
0     Sunny         Hot     High  Strong         Available         Yes
1     Sunny         Hot     High  Strong         Available         Yes
2     Rainy    Pleasant   Normal  Strong         Available         Yes
3     Rainy    Pleasant   Normal  Strong     Not Available         Yes
4  Overcast         Mid   Normal    Weak     Not Available          No

In [ ]:
#converting the csv files into numbers
le = preprocessing.LabelEncoder()

Outlook = le.fit_transform(tennis['Outlook'])
Temperature = le.fit_transform(tennis['Temperature'])
Humidity = le.fit_transform(tennis['Humidity'])
Wind = le.fit_transform(tennis['Wind'])
PlayTennis = le.fit_transform(tennis['Play Tennis'])
Court_availability

In [ ]:
#creating dataset
tennis['Outlook'] = Outlook
tennis['Temperature'] = Temperature
tennis['Humidity'] = Humidity
tennis['Wind'] = Wind

In [ ]:
tennis['Play Tennis'] = PlayTennis
tennis.head()

   Outlook  Temperature  Humidity  Wind  Play Tennis
0        2            1         0     0            2
1        2            1         0     0            2
2        1            4         2     0            2
3        1            4         2     0            2
4        0            3         2     1            1

In [ ]:
#PART A 
#Iloc - selects specific row/column 
#Ravel - converts a multi dimension array into a flattend one
clf = DecisionTreeClassifier().fit(tennis.iloc[:,:-1].values,tennis.iloc[:,-1].values.ravel())
tennis_test = np.array([[2,1,1,1],[0,1,1,0],[1,0,0,1]])
clf.predict(tennis_test)

array([0, 2, 0])