<a href="https://colab.research.google.com/github/Ravkeerat02/comp3122_labs/blob/master/Assignemnt2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Student Name : Ravkeerat Singh 
Student ID : 101344680

---

In [34]:
#importing the necessary modules

import pandas as pd
import numpy as np
import random
from sklearn.tree import DecisionTreeClassifier
from sklearn import preprocessing
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split 
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

In [16]:
tennis = pd.read_csv('/content/PlayTennis.csv')
print('Shape: ',tennis.shape)
tennis.head()

Shape:  (18, 6)

    Outlook Temperature Humidity    Wind Court Availablity Play Tennis
0     Sunny         Hot     High  Strong         Available         Yes
1     Sunny         Hot     High  Strong         Available         Yes
2     Rainy    Pleasant   Normal  Strong         Available         Yes
3     Rainy    Pleasant   Normal  Strong     Not Available         Yes
4  Overcast         Mid   Normal    Weak     Not Available          No

In [18]:
#converting the csv files into numbers
le = preprocessing.LabelEncoder()

Outlook = le.fit_transform(tennis['Outlook'])
Temperature = le.fit_transform(tennis['Temperature'])
Humidity = le.fit_transform(tennis['Humidity'])
Wind = le.fit_transform(tennis['Wind'])
PlayTennis = le.fit_transform(tennis['Play Tennis'])
Court_availability = le.fit_transform(tennis['Court Availablity'])

In [19]:
#creating dataset
tennis['Outlook'] = Outlook
tennis['Temperature'] = Temperature
tennis['Humidity'] = Humidity
tennis['Wind'] = Wind
tennis['Court Availablity'] = Court_availability

In [20]:
tennis['Play Tennis'] = PlayTennis
tennis.head()

   Outlook  Temperature  Humidity  Wind  Court Availablity  Play Tennis
0        2            1         0     0                  0            2
1        2            1         0     0                  0            2
2        1            4         2     0                  0            2
3        1            4         2     0                  1            2
4        0            3         2     1                  1            1

In [22]:
#PART A 
#Iloc - selects specific row/column 
#Ravel - converts a multi dimension array into a flattend one
clf = DecisionTreeClassifier().fit(tennis.iloc[:,:-1].values,tennis.iloc[:,-1].values.ravel())
tennis_test = np.array([[2,1,1,1,0],[0,1,1,0,1],[1,0,0,1,0]])
clf.predict(tennis_test)

array([0, 2, 0])

In [45]:
#PART B 
part1 = [random.randint(10,30) for _ in range(30)]
part2 = [random.randint(20,30) for _ in range(30)]
part3 = [random.randint(30,40) for _ in range(30)]

train_df = pd.DataFrame([part1,part2,part3]).T
train_df.columns = ['Feature1','Featrue2','Feature3']
train_df.to_csv('train_df.csv',index=False) #saving the file
train_df.head()

   Feature1  Featrue2  Feature3
0        14        26        33
1        12        21        31
2        13        27        32
3        20        27        40
4        10        25        31

In [46]:
#splitting the data 
X_train , X_test , y_train, y_test = train_test_split(train_df.iloc[:,:-1].values,train_df.iloc[:,-1].values,test_size=0.3)

In [47]:
#training 
clf_second = DecisionTreeClassifier().fit(X_train,y_train.ravel())
y_pred = clf_second.predict(X_test)
print('Accuracy score:',accuracy_score(y_test,y_pred))

Accuracy score: 0.3333333333333333