<a href="https://colab.research.google.com/github/Ravkeerat02/comp3122_labs/blob/master/Assignment4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np 
import pandas as pd

In [4]:

#downloading and storing the file
df = pd.read_csv('/content/test(1).csv')

In [5]:
#showing top 3 rows
df.head(3)

   ID  Range  Value Type Zip Code Model   Cost      Continent
0  10    192     50    F   NXEYEM  EX85  [56$]           Asia
1  20    299     21    M   VNFKZD  CT41  [18$]           Asia
2  30    378     28    X   IMGMFY  VN81  [90$]  North America

In [6]:
#delete model 
df.drop('Model',axis=1)

       ID  Range  Value Type Zip Code   Cost      Continent
0      10    192     50    F   NXEYEM  [56$]           Asia
1      20    299     21    M   VNFKZD  [18$]           Asia
2      30    378     28    X   IMGMFY  [90$]  North America
3      40    156     44    Q   RHRHJY  [89$]           Asia
4      50    468     33    J   HPQCMC  [95$]         Africa
..    ...    ...    ...  ...      ...    ...            ...
945  9460    136     12    C   HGVBPV  [51$]  South America
946  9470    316     46    L   SHBAUD  [33$]  North America
947  9480    461     46    K   PUZUVO  [12$]         Europe
948  9490    185     13    N   UMESZO  [39$]  North America
949  9500    137     10    W   JOHHVL  [10$]  South America

[950 rows x 7 columns]

In [7]:
# df.dropna('Model') 
# # - deleting permanenetly

In [8]:
#delete rows
# df.drop('1','3','5')

In [9]:
drop_df = pd.read_csv('/content/test(1).csv')
drop_df.drop([1,3,5],axis=0,inplace=True)
drop_df.head(4)

   ID  Range  Value Type Zip Code Model   Cost      Continent
0  10    192     50    F   NXEYEM  EX85  [56$]           Asia
2  30    378     28    X   IMGMFY  VN81  [90$]  North America
4  50    468     33    J   HPQCMC  QX90  [95$]         Africa
6  70    327     24    F   NLVQPY  JY72  [25$]         Europe

In [10]:
#calculating mean in Range
mean_df = np.mean(df['Range'])
print(mean_df)

297.4378947368421

In [11]:
#coutning F in the rows
df.Type.value_counts()['F']
replace_df = df.replace('F','AAA')
replace_df.head(5)

   ID  Range  Value Type Zip Code Model   Cost      Continent
0  10    192     50  AAA   NXEYEM  EX85  [56$]           Asia
1  20    299     21    M   VNFKZD  CT41  [18$]           Asia
2  30    378     28    X   IMGMFY  VN81  [90$]  North America
3  40    156     44    Q   RHRHJY  IR14  [89$]           Asia
4  50    468     33    J   HPQCMC  QX90  [95$]         Africa

In [12]:
#delete permanently
# drop_df = pd.read_csv('/content/test(1).csv')
# drop_df.drop([',','$','and'],axis=0,inplace=True)
# drop_df.head(4)

In [13]:
#changing cost data type 
# df = df.astype()

In [14]:
# drop_df.groupby('Continent').Cost.average()

AttributeError: ignored

In [ ]:
#Standard Deviation calucalted fot COST 
# drop_df.groupby('Continent').Cost.std()

In [ ]:
#calculatign min , max and std

In [16]:
mean_df = np.mean(df['Continent'])
print(mean_df)

TypeError: ignored