<a href="https://colab.research.google.com/github/Ravkeerat02/comp3122_labs/blob/master/Assignemnt2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Student Name : Ravkeerat Singh 
<BR>

Student ID : 101344680

---

In [11]:
#importing the necessary modules

import pandas as pd
import numpy as np
import random
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn import svm

In [12]:
tennis = pd.read_csv('/content/PlayTennis.csv')
print('Shape: ',tennis.shape)
tennis.head()

Shape:  (18, 6)

    Outlook Temperature Humidity    Wind Court Availablity Play Tennis
0     Sunny         Hot     High  Strong         Available         Yes
1     Sunny         Hot     High  Strong         Available         Yes
2     Rainy    Pleasant   Normal  Strong         Available         Yes
3     Rainy    Pleasant   Normal  Strong     Not Available         Yes
4  Overcast         Mid   Normal    Weak     Not Available          No

In [13]:
#converting the csv files into numbers
le = preprocessing.LabelEncoder()

Outlook = le.fit_transform(tennis['Outlook'])
Temperature = le.fit_transform(tennis['Temperature'])
Humidity = le.fit_transform(tennis['Humidity'])
Wind = le.fit_transform(tennis['Wind'])
PlayTennis = le.fit_transform(tennis['Play Tennis'])
Court_availability = le.fit_transform(tennis['Court Availablity'])

In [14]:
#creating dataset
tennis['Outlook'] = Outlook
tennis['Temperature'] = Temperature
tennis['Humidity'] = Humidity
tennis['Wind'] = Wind
tennis['Court Availablity'] = Court_availability

In [15]:
tennis['Play Tennis'] = PlayTennis
tennis.head()

   Outlook  Temperature  Humidity  Wind  Court Availablity  Play Tennis
0        2            1         0     0                  0            2
1        2            1         0     0                  0            2
2        1            4         2     0                  0            2
3        1            4         2     0                  1            2
4        0            3         2     1                  1            1

**PART A** - We want to play outdoor tennis. Some weather conditions, such as low temperature, rainy or very windy ones prohibit us from playing. These are just a few examples, but you can find more features (columns). Please create a dataset, including at least three features and twenty samples (rows), and the labels could be cancelling or playing (like Yes/No or True/False).
After creating your model and training your classifier, using the above 20 rows, test your model over three new (unseen) samples, and see if it works properly or not.

In [16]:
#Iloc - selects specific row/column 
#Ravel - converts a multi dimension array into a flattend one
clf = DecisionTreeClassifier().fit(tennis.iloc[:,:-1].values,tennis.iloc[:,-1].values.ravel())
tennis_test = np.array([[2,1,1,1,0],[0,1,1,0,1],[1,0,0,1,0]])
clf.predict(tennis_test)

array([0, 2, 0])

**Part B:** Please find/create a CSV file that has at least three columns (features) and 30 rows that can decide if a person has COVID-19 or not. Please use 30% of the dataset as your testing data and show the achieved accuracy. What we have learned in 02.pptx, and 04.pptx are very helpful and important to split our dataset (especially 04.pptx).

In [17]:
#PART B 
part1 = [random.randint(10,30) for _ in range(30)]
part2 = [random.randint(20,30) for _ in range(30)]
part3 = [random.randint(30,40) for _ in range(30)]

train_df = pd.DataFrame([part1,part2,part3]).T
train_df.columns = ['Feature1','Featrue2','Feature3']
train_df.to_csv('train_df.csv',index=False) #saving the file
train_df.head()

   Feature1  Featrue2  Feature3
0        19        27        31
1        23        20        37
2        15        25        36
3        26        22        30
4        19        30        37

In [18]:
#splitting the data 
X_train , X_test , y_train, y_test = train_test_split(train_df.iloc[:,:-1].values,train_df.iloc[:,-1].values,test_size=0.3)

In [19]:
#training 
clf_second = DecisionTreeClassifier().fit(X_train,y_train.ravel())
y_pred = clf_second.predict(X_test)
print('Accuracy score:',accuracy_score(y_test,y_pred))

Accuracy score: 0.2222222222222222